.nav-item {
    color: #6f42c1;
    font-size: 18px;
}

.card {
    border: none;
}

.btn, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn:active, .btn-primary.active, .open .dropdown-toggle.btn-primary{
    background-color: rgb(71, 45, 105);
    border-color: rgb(71, 45, 105);
}

.btn:hover {
    background-color: rgb(112, 85, 148);
    border-color: rgb(112, 85, 148);
}
